name: go

on:
  pull_request:
    paths:
      - .github/workflows/go.yaml
      - '**/*.go'
      - '**/go.*'
      - Makefile
  push:
    paths:
      - .github/workflows/go.yaml
      - '**/*.go'
      - '**/go.*'
      - Makefile
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - id: toolchain
        run: echo "version=$(sed -ne '/^toolchain /s/^toolchain go//p' go.mod)" >> "$GITHUB_OUTPUT"
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: ${{ steps.toolchain.outputs.version }}
          cache-dependency-path: go.sum
      - run: make test
      - run: echo "$APP_PRIVATE_KEY" > /tmp/APP_PRIVATE_KEY.pem
        env:
          APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
      - run: go run ./example
        env:
          GITHUB_APP_ID: ${{ secrets.APP_ID }}
          GITHUB_APP_INSTALLATION_ID: ${{ secrets.APP_INSTALLATION_ID }}
          GITHUB_APP_PRIVATE_KEY_NAME: /tmp/APP_PRIVATE_KEY.pem

  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - id: toolchain
        run: echo "version=$(sed -ne '/^toolchain /s/^toolchain go//p' go.mod)" >> "$GITHUB_OUTPUT"
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: ${{ steps.toolchain.outputs.version }}
          cache-dependency-path: |
            go.sum
            tools/go.sum
      - run: make lint

  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - id: toolchain
        run: echo "version=$(sed -ne '/^toolchain /s/^toolchain go//p' go.mod)" >> "$GITHUB_OUTPUT"
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: ${{ steps.toolchain.outputs.version }}
          cache-dependency-path: go.sum
      - run: go mod tidy
      - uses: int128/update-generated-files-action@cf6ab7b6285ba87a853c47d593af367ea06c8e40 # v2.66.0
